langchain==0.1.16
langchain-core==0.1.52
langchain-community==0.0.34
langchain-google-genai==1.0.3
faiss-cpu
pypdf
fastapi
uvicorn
fastapi
uvicorn
fastapi
uvicorn
langchain
langchain-community
transformers
torch
sentence-transformers
faiss-cpu
deep-translator
langdetect
pydantic
accelerate

